@import 'tailwindcss';
@import 'tw-animate-css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.anchor-section {
  scroll-margin-top: 110px;
}

@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  /* my vars */
  --color-brand: var(--brand);
  --spacing-nav-h: var(--nav-h);
  --spacing-screen-safe: calc(100vh - var(--nav-h));
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  /* my vars */
  --brand: oklch(59.667% 0.22126 258.047);
  --nav-h: 61px;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
    overflow-y: scroll;
  }

  .custom-scroll {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    transition: scrollbar-color 0.2s ease;
  }

  .custom-scroll:hover {
    scrollbar-color: rgba(0 0 0 / 0.2) transparent;
  }

  .dark .custom-scroll:hover {
    scrollbar-color: rgba(255 255 255 / 0.2) transparent;
  }

  .primary-gradient {
    @apply bg-linear-to-r from-cyan-500 to-blue-500 bg-clip-text text-transparent;
  }

  .secondary-gradient {
    @apply bg-linear-to-r from-sky-500 to-indigo-400 bg-clip-text text-transparent;
  }

  /* prose */
  .prose h1 + h2 {
    @apply mt-3!;
  }

  .markdown-alert {
    @apply border-l-3 p-2 pr-0 mb-5;
  }

  .markdown-alert p {
    @apply m-0!;
  }

  .markdown-alert-title {
    @apply flex items-center gap-1 font-semibold pb-2;
  }

  .markdown-alert-note {
    @apply border-l-blue-500;
  }
  .markdown-alert-note .markdown-alert-title {
    @apply text-blue-500;
  }

  .markdown-alert-note .markdown-alert-title svg {
    @apply fill-blue-500;
  }

  .markdown-alert-tip {
    @apply border-l-green-400;
  }
  .markdown-alert-tip .markdown-alert-title {
    @apply text-green-400;
  }

  .markdown-alert-tip .markdown-alert-title svg {
    @apply fill-green-400;
  }

  .markdown-alert-important {
    @apply border-l-purple-400;
  }
  .markdown-alert-important .markdown-alert-title {
    @apply text-purple-400;
  }

  .markdown-alert-important .markdown-alert-title svg {
    @apply fill-purple-400;
  }

  .markdown-alert-warning {
    @apply border-l-yellow-400;
  }
  .markdown-alert-warning .markdown-alert-title {
    @apply text-yellow-400;
  }

  .markdown-alert-warning .markdown-alert-title svg {
    @apply fill-yellow-400;
  }

  .markdown-alert-caution {
    @apply border-l-red-400;
  }
  .markdown-alert-caution .markdown-alert-title {
    @apply text-red-400;
  }

  .markdown-alert-caution .markdown-alert-title svg {
    @apply fill-red-400;
  }

  /* Shiki */
  .dark .shiki,
  .dark .shiki span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
  }

  pre.shiki {
    @apply p-5 rounded-xl;
  }

  /* PRETTY CODE HIGHLIGHT */

  /* Theme */
  code[data-theme],
  code[data-theme] span {
    color: var(--shiki-light);
    background-color: var(--shiki-light-bg);
  }

  .dark code[data-theme],
  .dark code[data-theme] span {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }

  /* Line number */
  code[data-line-numbers] {
    counter-reset: line;
  }

  code[data-line-numbers] > [data-line]::before {
    counter-increment: line;
    content: counter(line);
    @apply inline-block w-4 mr-4 text-right text-gray-500;
  }

  /* Code line */
  pre [data-line] {
    @apply border-l-2 border-l-transparent;
  }

  /* Highligh code line */
  [data-highlighted-line] {
    @apply bg-blue-100/60! dark:bg-blue-300/10! border-l-blue-400!;
  }

  [data-highlighted-line] span {
    @apply bg-transparent!;
  }

  /* Highlight chars */
  [data-highlighted-chars] {
    @apply bg-zinc-300/50 dark:bg-zinc-600/50 rounded inline-block px-1;
  }

  [data-highlighted-chars] span {
    @apply bg-transparent!;
  }

  [data-chars-id] {
    @apply border-b-2;
  }

  [data-chars-id] span {
    @apply text-inherit! font-semibold;
  }

  [data-chars-id='v'] {
    @apply text-pink-300 bg-rose-800/75 dark:bg-rose-800/50 border-b-pink-800 dark:border-b-pink-600 font-bold;
  }

  [data-chars-id='s'] {
    @apply text-yellow-300 bg-yellow-800/75 dark:bg-yellow-800/50 border-b-yellow-800 dark:border-b-yellow-600 font-bold;
  }

  [data-chars-id='i'] {
    @apply text-purple-200 bg-purple-800/75 dark:bg-purple-800/50 border-b-purple-800 dark:border-b-purple-600 font-bold;
  }

  /* Custom Step */
  .custom-step {
    @apply text-xs size-9 aspect-square flex justify-center items-center relative rounded-full;
  }

  .custom-step::after {
    @apply content-[''] absolute inset-0 rounded-full p-0.5 bg-linear-to-tr from-cyan-500 to-blue-500;
    mask: linear-gradient(white) content-box, linear-gradient(white);
    mask-composite: subtract;
  }

  *:has(> .custom-step) {
    @apply flex items-center gap-3 pb-2;
  }

  /* Confetti */
  .index-module_canvas__H2w7d {
    z-index: 100;
  }
}
