.quizz-container {
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
  padding: 32px;
  background: #ffffffff;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  font-family: 'Inter', sans-serif;
  text-align: center;
}
.nivel {
  color: black;
  font-weight: bold;
  font-size: 30px;
  color: #1f0bd1e7;
  text-align: center;
}
.quizz-container h3 {
  font-size: 24px;
  font-weight: bold;
  color: #000000ff;
  margin-bottom: 20px;
}

.options-container {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 24px;
  padding: 10px;
}

.quizz-option {
  padding: 14px 20px;
  background: #ffffffff;
  border: 2px solid #d1d5db;
  cursor: pointer;
  font-size: 1rem;
  color: #374151;
  transition: background 0.2s, transform 0.2s;
}

.quizz-option:hover {
  background: #e5e7eb;
  transform: translateX(2px);
}

.quizz-option.selected {
  color: black;
  border-color: #0296f8ff;
}
.quizz-option.color-check {
  background: #10b981;
  border: 2px solid #d1d5db;
  color: white;
}

.quizz-option.color-err {
  background: #ef4444; /* rojo */
  border: 2px solid #d1d5db;

  color: white;
}

.color-btn {
  display: inline-block;
  padding: 14px 40px;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  background: #099dcaff;
  cursor: pointer;
  transition: background 0.2s, transform 0.2s;
  margin-top: 16px;
}

.color-btn:disabled {
  background: #bebebeff;
  cursor: not-allowed;
}

.color-btn.color-check {
  background: #10b981;
}

.color-btn.color-err {
  background: #ef4444;
}
